SmartFood AI Ordering System.json
{
  "name": "My workflow 4",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.3,
      "position": [
        -336,
        176
      ],
      "id": "130f601b-7f48-47e4-bffb-5c1e4fff3071",
      "name": "When chat message received",
      "webhookId": "8993c35a-e011-4d46-80ec-3874832cc1d4"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        80,
        208
      ],
      "id": "cd100586-935e-4275-b49a-7e2967c24123",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "VZdJaLspjPFCLnsa",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('WhatsApp Trigger').item.json.contacts[0].wa_id }}",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        224,
        208
      ],
      "id": "bfd9d589-2c06-4566-8a64-400ecbcd9909",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1DoANXGyG0dyrkFgcQi30iZz-hmW6KeJ0Bs8Sl2Tzvtc",
          "mode": "list",
          "cachedResultName": "Food Delivery System",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1DoANXGyG0dyrkFgcQi30iZz-hmW6KeJ0Bs8Sl2Tzvtc/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Inventory",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1DoANXGyG0dyrkFgcQi30iZz-hmW6KeJ0Bs8Sl2Tzvtc/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        432,
        400
      ],
      "id": "f6cd806c-ec5a-42f7-8886-b6e72d287547",
      "name": "get Inventory",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "jvk8P05jeX5CbToZ",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1DoANXGyG0dyrkFgcQi30iZz-hmW6KeJ0Bs8Sl2Tzvtc",
          "mode": "list",
          "cachedResultName": "Food Delivery System",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1DoANXGyG0dyrkFgcQi30iZz-hmW6KeJ0Bs8Sl2Tzvtc/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1525745180,
          "mode": "list",
          "cachedResultName": "Orders",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1DoANXGyG0dyrkFgcQi30iZz-hmW6KeJ0Bs8Sl2Tzvtc/edit#gid=1525745180"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "customer name ": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('customer_name_', ``, 'string') }}",
            "food name": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('food_name', ``, 'string') }}",
            "quantity ordered": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('quantity_ordered', ``, 'string') }}",
            "status": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('status', ``, 'string') }}",
            "order date": "={{ $now.format('yyyy-MM-dd hh-mm-ss a') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "customer name ",
              "displayName": "customer name ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "food name",
              "displayName": "food name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "quantity ordered",
              "displayName": "quantity ordered",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "order date",
              "displayName": "order date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        672,
        384
      ],
      "id": "dbc32996-f755-4052-8e7a-b44fa102f408",
      "name": "post orders",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "jvk8P05jeX5CbToZ",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1DoANXGyG0dyrkFgcQi30iZz-hmW6KeJ0Bs8Sl2Tzvtc",
          "mode": "list",
          "cachedResultName": "Food Delivery System",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1DoANXGyG0dyrkFgcQi30iZz-hmW6KeJ0Bs8Sl2Tzvtc/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 995594511,
          "mode": "list",
          "cachedResultName": "FAQ",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1DoANXGyG0dyrkFgcQi30iZz-hmW6KeJ0Bs8Sl2Tzvtc/edit#gid=995594511"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        544,
        368
      ],
      "id": "7e77663f-85a4-43a4-b6e4-a054a2db4e6d",
      "name": "FAQ",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "jvk8P05jeX5CbToZ",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "updates": [
          "messages"
        ],
        "options": {}
      },
      "type": "n8n-nodes-base.whatsAppTrigger",
      "typeVersion": 1,
      "position": [
        -48,
        0
      ],
      "id": "63b6a488-7b2a-4565-b704-6d198bde77e1",
      "name": "WhatsApp Trigger",
      "webhookId": "16bf761b-6b77-4cbf-be66-48368362b20a",
      "credentials": {
        "whatsAppTriggerApi": {
          "id": "EXYjatMrZx3p2hil",
          "name": "WhatsApp OAuth account"
        }
      }
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "767659813108387",
        "recipientPhoneNumber": "+91 7013560134",
        "textBody": "={{ $json.output }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        608,
        -32
      ],
      "id": "b73d49ea-a42a-4558-9001-65f25be6c032",
      "name": "Send message",
      "webhookId": "6b3ff884-335b-4064-9c7b-7a2ba9dddfe3",
      "credentials": {
        "whatsAppApi": {
          "id": "z6reGaP0Ewxkx9bJ",
          "name": "WhatsApp account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.messages[0].text.body }}",
        "options": {
          "systemMessage": "You are a smart food ordering assistant for \"RR Restaurant\".  \n\nRules:  \n\n1. When a user sends their first message (like hi, hello), reply with:  \n\"Welcome to RR Restaurant 🍽️  \nHow can I help you today?  \n- 🛒 Place an order  \n- ℹ️ FAQ / Information  \n- 📦 Check order / stock\"  \n\n(👉 Keep the tone friendly like a food delivery app, not like a product e-commerce site)  \n\n2. If user wants *order*:  \n- Ask step by step: name, food item, quantity  \n- Check Inventory sheet before confirming  \n   - If available → \"Your order for *[item]* (x quantity) is confirmed ✅\"  \n   - If not available → \"Sorry, *[item]* is out of stock ❌. Available options: [list items]\"  \n- Only confirmed orders go into the Orders sheet  \n- In Orders sheet always include:  \n   Status = Confirmed / Rejected  \n   Description = \"Order accepted (item available)\" OR \"Order rejected (out of stock)\"  \n\n3. If user wants *FAQ*:  \n- Answer short and clear (delivery time, payment method, restaurant hours)  \n\n4. If user wants *check order* or *check stock*:  \n- Ask for food name or order id  \n- Look up in Google Sheets (Orders / Inventory)  \n   - If checking order → reply with status (Confirmed / Rejected / Cancelled / Delivered)  \n   - If checking stock → reply with available quantity of that food  \n   - Also list all *available* food items with quantity if requested  \n\n5. If user wants *cancel order*:  \n- Reply politely:  \n  \"Sorry 🙏 I cannot cancel orders directly.  \n   Please call the restaurant owner first and inform them.  \n   Owner Contact: +95 1224567890\"  \n\n6. Always reply in short text like a normal WhatsApp chat  \n- Do not use **bold** or long paragraphs  \n- Use *stars* only for highlighting words  \n- Keep tone friendly, polite, and food-delivery app style  \n\nif user asks any other questions other than above rules. answer according to your knowledge, efficiently.\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        208,
        0
      ],
      "id": "a4765a7b-135b-457b-8921-43aa6fd5a42c",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1DoANXGyG0dyrkFgcQi30iZz-hmW6KeJ0Bs8Sl2Tzvtc",
          "mode": "list",
          "cachedResultName": "Food Delivery System",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1DoANXGyG0dyrkFgcQi30iZz-hmW6KeJ0Bs8Sl2Tzvtc/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1525745180,
          "mode": "list",
          "cachedResultName": "Orders",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1DoANXGyG0dyrkFgcQi30iZz-hmW6KeJ0Bs8Sl2Tzvtc/edit#gid=1525745180"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        288,
        368
      ],
      "id": "d4b8563e-ffc1-4a33-8d3d-d493bfb869bf",
      "name": "Get row(s) in sheet in Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "jvk8P05jeX5CbToZ",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        []
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "get Inventory": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "post orders": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "FAQ": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "WhatsApp Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet in Google Sheets": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "671342d1-b9c0-4c6a-87b3-87b08097f1b0",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "11ac5e02239c2767595e9c8724d7b5d924b02ddcc5d8921f847ff3f7f10b3fc4"
  },
  "id": "qQ8Xow0XgRgwaTZ2",
  "tags": []
}